@import "tailwindcss";

/* Custom Utilities */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: #f3f4f6; /* light gray background for desktop */
}